body {
  background: #d49ba9;
  font-family: "Poppins", sans-serif;
  color: #7f4146;
}
.kirby {
  display: block;
  max-width: 160px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.container {
  background-color: #efc3cc;
  max-width: 600px;
  margin-top: 50px;
}
.info-now-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.searchandsubmit {
  padding-top: 20px;
  text-align: right;
}
.search-bar {
  margin: 0 auto;
  color: aqua;
}

.info-now {
  text-align: left;
}
.icon-now {
  max-width: 25%;
}

h1 {
  padding-top: 20px;
  font-size: 30px;
  margin-left: 78px;
}

h2 {
  font-size: 10px;
  padding-bottom: 0px;
  margin-left: 80px;
}
h3 {
  font-size: 15px;
  margin-left: 80px;
}
.units {
  color: #d49ba9;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  margin-left: 6px;
  line-height: 4;
}
.temperature {
  font-size: 40px;
  margin-left: 16px;
  line-height: 2;
}

.weather-now {
  font-size: 50px;
}
.current-weather {
  margin-left: 70px;
}
li {
  font-size: 13px;
  list-style: none;
  position: relative;
  padding: 0;
  text-align: left;
}

.submit-button {
  color: #f8dade;
}

.currenticon {
  max-width: 40%;
  padding-top: 0px;
  margin: 0;
}
.credit {
  max-width: 600px;
  margin: 10px auto;
  text-decoration: none;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}
