body {
  background: #d49ba9;
  font-family: "Poppins", sans-serif;
  color: #7f4146;
}
.container {
  text-align: center;
  background-color: #efc3cc;
  max-width: 600px;
  margin-top: 50px;
}
.info-now-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.info-now {
  text-align: left;
}
.icon-now {
  size: 40px;
}

h1 {
  padding-top: 20px;
  font-size: 30px;
  margin-left: 78px;
}

h2 {
  font-size: 20px;
  padding-bottom: 0px;
  margin-left: 80px;
}
h3 {
  font-size: 15px;
  margin-left: 80px;
}
.units {
  font-size: 16px;
  text-decoration: none;
  position: relative;
  margin-left: 6px;
}
.temperature {
  font-size: 40px;
  margin-left: 16px;
  line-height: 1;
}

.weather-now {
  font-size: 50px;
}
.current-weather {
  margin-left: 80px;
}
li {
  font-size: 13px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.kirby {
  max-width: 160px;
}

.search-form {
  max-width: 300px;
  text-align: center;
}

.submit-button {
  color: #f8dade;
}

.icon-now {
  font-size: 45px;
}
small {
  padding-top: 20px;
  position: relative;
  margin-left: 270px;
}
