body {
  background: #d49ba9;
}
.container {
  text-align: center;
  background-color: #efc3cc;
  max-width: 600px;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
  color: #7f4146;
}
.info-now {
  text-align: center;
}
.weather-now {
  font-size: 50px;
}
.kirby {
  max-width: 160px;
}

.search-form {
  max-width: 300px;
  text-align: center;
}

.submit-button {
  color: #f8dade;
}
