body {
  background: #d49ba9;
  font-family: "Poppins", sans-serif;
  color: #7f4146;
}
.kirby {
  display: block;
  max-width: 160px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.container {
  background-color: #efc3cc;
  max-width: 750px;
  margin-top: 50px;
}
.info-now-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.searchandsubmit {
  padding-top: 20px;
  text-align: right;
}
.search-button {
  border: none;
}
.search-bar {
  border: none;
}

.info-now {
  text-align: left;
}

h1 {
  padding-top: 20px;
  font-size: 30px;
}

h2 {
  font-size: 10px;
  padding-bottom: 0px;
}
h3 {
  font-size: 15px;
}
.units {
  color: #d49ba9;
  position: relative;
  font-size: 16px;
  text-decoration: none;
  margin-left: 6px;
  top: -16px;
}
.temperature {
  font-size: 40px;
  margin-left: 16px;
  line-height: 2;
  max-height: 20px;
}

.weather-now {
  font-size: 50px;
}
.current-weather {
  display: block;
  margin-left: 60px;
  margin-bottom: 0px;
  margin-top: 40px;
  max-height: 70px;
}

.weather-details {
  padding: 50px;
}

.firstrow {
  padding: 0 10px;
  margin-left: 55px;
}

li {
  font-size: 13px;
  list-style: none;
  position: relative;
  padding: 0;
  text-align: left;
}

.submit-button {
  color: #f8dade;
}

.currenticon {
  max-width: 120px;
  margin-top: -20px;
}
.credit {
  max-width: 600px;
  margin: 10px auto;
  text-decoration: none;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
  cursor: default;
}

.inactive {
  cursor: default;
  text-decoration: none;
}

.inactive:hover {
  cursor: default;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
